*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #333;
    color: white;
    width: 100%;
    box-sizing: border-box;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: "Chokokutai", system-ui;
}
.links{
    display: flex;
    gap: 15px;
}
.links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/*RESPONSIVE NAVBAR*/
@media (max-width: 786px) {
    .navbar{
        padding: 10px 14px;
    }
    .links{
        position: absolute;
        top: 54px;
        right: 0;
        flex-direction: column;
        width: 100%;
        padding: 10px 16px;
        gap: 10px;
        display: none;
    }

    .links a {
        padding: 6px 0;
    }

    .links.open{
        display: flex;
    }
    .navbar-toggle{
        display: flex;
    }
}

