*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #000000;
    color: white;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: "Chokokutai", system-ui;
}

.links{
    display: flex;
    gap: 15px;
}

.links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.links a:hover{
    color: #ff0000;
}

.navbar-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.navbar-toggle span{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/*RESPONSIVE NAVBAR*/
@media (max-width: 768px) {
    .navbar{
        padding: 10px 14px;
    }
    
    .links{
        position: absolute;
        top: 54px;
        left: 0;
        right: 0;
        flex-direction: column;
        width: 100%;
        padding: 10px 16px;
        gap: 10px;
        background-color: #000000;
        border-top: 1px solid #333;
        display: none;
        z-index: 999;
    }

    .links a {
        padding: 10px 0;
        border-bottom: 1px solid #222;
    }

    .links a:last-child {
        border-bottom: none;
    }

    .links.open{
        display: flex;
    }
    
    .navbar-toggle{
        display: flex;
    }

    
    .navbar-toggle.active span:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }

    .navbar-toggle.active span:nth-child(2){
        opacity: 0;
    }

    .navbar-toggle.active span:nth-child(3){
        transform: rotate(-45deg) translate(7px, -6px);
    }
}